*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
width: 500px;
height: 500px;
background-color: wheat;
border: 1px solid;
display: grid;
grid-template-areas: "A1 A2 A2"
                     "A1 A3 A4"
                     "A1 A5 A6"
                     "A7 A5 A8";
gap:10px;
padding: 10px;
}

.box1 {
    grid-area: A1;
    border: 1px solid;
}
.box2 {
    grid-area: A2;
    border: 1px solid;
}
.box3 {
    grid-area: A3;
    border: 1px solid;
}
.box4 {
    grid-area: A4;
    border: 1px solid;
}
.box5 {
    grid-area: A5;
    border: 1px solid;
}
.box6 {
    grid-area: A6;
    border: 1px solid;
}
.box7 {
    grid-area: A7;
    border: 1px solid;
}
.box8 {
    grid-area: A8;
    border: 1px solid;
}